/* Bootstrap overriding */
.card {
  border-left: none;
  border-top: none;
  background-color: #121516;
  color: inherit;
  border-color: #8d856d;
  border-radius: 0px;
  border-width: 2px;
  border-bottom-right-radius: 10px;
}

/* Custom css */
.event-details-container {
  padding: 0 2rem 0 2rem;
}

.event-details-container, .row {
  margin: 0;
}  

.hero-container {
  max-height: 240px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-width: 100%;
  opacity: .5;
  align-self: flex-end;
}

.hero-text {
  position: absolute;
  font-weight: 700;
}

.circuit-name {
  font-weight: 700;
}

.stat-container {
  border: 1px solid #494949;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 10px;
  padding: 0.5rem 0;
  margin-bottom: 12px;
}

.stat-heading {
  margin-bottom: 2px;
  font-size: 75%;
  font-weight: 300;
}

.stat {
  margin-bottom: -6px;
  font-size: 160%;
  font-weight: 700;
}

@media (min-width: 992px) {
  
  .hero-container {
    max-height: 360px;
  }
}