/* Bootstrap overriding */
.card {
  border-left: none;
  border-top: none;
  background-color: #121516;
  color: inherit;
  border-color: #8d856d;
  border-radius: 0px;
  border-width: 2px;
  border-bottom-right-radius: 10px;
  margin-bottom: 1rem;
  padding: 0 1rem 1rem 0;
}

/* Custom css */
.hero-container {
  max-height: 190px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  opacity: .5;
  align-self: flex-end;
}

.hero-text {
  position: absolute;
  font-weight: 700;
}

.separator {
  width: 100%;
  border-width: 3rem;
  border-color: #00031a;
  margin-bottom: 2rem;
  margin-top: 0;
  opacity: 100;
}

.event-details-container {
  margin: 0;
  flex-direction: column-reverse;
}  

.circuit-name {
  font-weight: 700;
}

.stat-container {
  border: 1px solid #494949;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 10px;
  padding: 0.5rem 0;
  margin-top: 10px;
}

.stat-heading {
  margin-bottom: 2px;
  font-size: 75%;
  font-weight: 300;
}

.stat {
  margin-bottom: -6px;
  font-size: 160%;
  font-weight: 700;
}

.event-info {
  margin-bottom: 1rem;
  border: 1px solid #8d856d54;
  border-left: none;
  border-top: none;
  border-radius: 0px;
  border-bottom-right-radius: 10px;
  margin-bottom: 1rem;
  padding: 0 1rem 1rem 0;
}

/* Media queries */
@media (min-width: 576px) {
  .hero-container {
    max-height: 240px;
  }
}

@media (min-width: 768px) {
  .hero-container {
    max-height: 340px;
  }
}

/* Breakpoint for content to fit in to columns instead of 1 */
@media (min-width: 992px) {
  .hero-container {
    max-height: 360px;
  }

  .event-details-container {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .hero-container {
    max-height: 460px;
  }
}