/* Bootstrap overriding */
.card {
  border-left: none;
  border-top: none;
  background-color: inherit;
  color: inherit;
  border-color: #8d856d;
  border-radius: 0px;
  border-width: 2px;
  border-bottom-right-radius: 10px;
}

legend {
  float: none;
  width: auto;
  padding-left: 4px;
  margin-left: 20px;
  padding-right: 4px;
}

/* Event cards styling */
.country-flag {
  max-height: 4rem;
  max-width: 100%;
}

.flag-container {
  display: flex;
}

.event-card-header,
.event-card-body {
  padding: 8px;
  border: none;
}

.card-line {
  width: 97%;
  margin: 0;
}

.date-container {
  padding-top: 10px;
  padding-bottom: 20px;
}

.calendar-card-heading {
  line-height: 20px;
}

.event-location {
  font-size: 115%;
}

.event-image {
  width: 100%;
  height: 10vh;
}

.event-link {
  text-decoration: none;
  color: inherit;
}

.upcoming:hover {
  border-color: red;
  transition-duration: 0.3s;
}

.card.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.02);
}

.hvr-grow {
  display: block;
}

/* Live chat styling */
.live-chat-container {
  height: 75vh;
  border: 1px solid #8d856d54;
  border-radius: 10px;
  padding: 8px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chat-heading {
  margin: 0;
  font-size: calc(1.15rem + .3vw);
}

.live-messages-container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.connected-message {
  color: #24C67B;
}

.messages {
  align-self: flex-start;
  width: 100%;
}

.chat-message {
  margin-bottom: 0px;
  overflow-wrap: break-word;
  hyphens: auto;
}

.message-date {
  color: rgba(255, 255, 255, 0.288);
  font-weight: 300;
}

.message-break {
  margin: 8px 0;
  border-color: #ffffff70;
}

.chat-input-container {
  margin: 6px 0;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: 2rem;
  width: 100%;
}

.message-input {
  flex-grow: 1;
  background-color: #ffffff0f;
  color: inherit;
  border: 0px solid;
  border-radius: 8px;
  padding-left: 6px;
}

.message-input:focus {
  outline: none;
}

.send-message {
  border: none;
  color: #ffffff;
  background-color: inherit;
  font-size: 130%;
  margin: 0 0.4rem;
}

/* Media queries */
@media (min-width: 992px) {
  .chat-heading {
    font-size: 1.5rem;
  }
}