{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/event_details.css' %}">
{% endblock css %}

{% block content %}
<!-- Page hero header -->
<div class="hero-container">
  <img class="hero-image" src="{{ event.event_hero_image.url }}" alt="Hero image">
  <h1 class="text-center hero-text">{{ event.race.event_name}}</h1>
</div>
<hr class="separator">
<!-- Event content -->
<div class="container-fluid">
  <div class="row event-details-container">
    <!-- Event info -->
    <div class="col-lg-7 event-container">
      <div class="event-info">
        {{ event.event_info | safe }}
      </div>
    </div>
    <!-- Circuit info -->
    <div class="col-lg-5 circuit-container">
      <div class="card">
        <h2 class="circuit-name">{{ event.circuit_name }}</h2>
        <img class="circuit-image" src="{{ event.race.event_circuit.url }}" alt="{{ event.circuit_name }}">
        <div class="row">
          <div class="col-md-6">
            <div class="stat-container">
              <h6 class="stat-heading">Circuit Length</h6>
              <p class="stat">{{ event.circuit_length }}<span class="small">km</span></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="stat-container">
              <h6 class="stat-heading">Grand Prix Laps</h6>
              <p class="stat">{{ event.number_of_laps }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="stat-container">
              <h6 class="stat-heading">Grand Prix Distance</h6>
              <p class="stat">{{ race_distance }}<span class="small">km</span></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="stat-container">
              <h6 class="stat-heading">Lap Record</h6>
              <p class="stat">{{ event.lap_record }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Comments section -->
  <div class="row comments-container">
    <!-- Comments -->
    <div class="col-lg-7" id="comments-col">
      <div class="comments" id="comments">
        {% if comment_count == 0 %}
        <h4>No one has shared their thougts yet, be the first!</h4>
        {% else %}
        <h2 class="comments-heading">What other people think</h2>
        {% endif %}
        <!-- For loop to loop through every comment on the event -->
        {% for comment in comments %}
        {% if comment.author == user and comment.approved == False or user.is_superuser and comment.approved == False %}
        <div class="comment">
          <h6 class="opacity-50">{{ comment.author }} <span class="comment-date">{{ comment.created_on }}</span></h6>
          <hr class="comment-break">
          <p class="opacity-50">{{ comment }} </p>
          <p class="text-danger">This comment has not been approved</p>
          <!-- CRUD buttons unapproved comment -->
          {% if user.is_authenticated and comment.author == user %}
          <button type="button" class="btn btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#confirmModal" data-target_comment="{{ comment.id }}">Delete</button>
          <button type="button" class="btn btn-warning edit-btn" data-target_comment="{{ comment.id }}">Edit</button>
          {% endif %}
          {% if user.is_superuser %}
          <button type="button" class="btn btn-success approve-btn" data-target_comment="{{ comment.id }}">Approve</button>
          {% endif %}
        </div>
        {% elif comment.approved == True %}
        <div class="comment">
          <h6>{{ comment.author }} <span class="comment-date">{{ comment.created_on }}</span></h6>
          <hr class="comment-break">
          <p>{{ comment }} </p>
          <!-- CRUD buttons approved comment -->
          {% if user.is_authenticated and comment.author == user %}
          <button type="button" class="btn btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#confirmModal" data-target_comment="{{ comment.id }}">Delete</button>
          <button type="button" class="btn btn-warning edit-btn" data-target_comment="{{ comment.id }}">Edit</button>
          {% endif %}
        </div>
        {% endif %}
        <!-- Comment iteration loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Comment form -->
    <div class="col-lg-5">
      <div class="form-div">
        <h2>Share you thoughts!</h2>
        {% if user.is_authenticated %}
        <form method="post" style="margin-top: 1rem;">
          {% csrf_token %}
          <label for="id_comment">Write a comment:</label>
          {{ comment_form.comment }}
          <input class="btn btn-primary mt-3" type="submit" value="Submit">
        </form>
        {% else %}
        <p>
          Please <a class="text-decoration-none" href="{% url 'account_login' %}">log in</a>
          if you would like to share your thougts!
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Modal for confirmation when attempting to delete a comment -->
<div class="modal" tabindex="-1" id="confirmModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Comment</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your comment? This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/event_details.js' %}"></script>
{% endblock scripts %}