{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/event_details.css' %}">{% endblock css %}

{% block content %}
<div class="hero-container">
  <img class="hero-image" src="{{ event.event_hero_image.url }}" alt="Hero image">
  <h1 class="text-center hero-text">{{ event.race.event_name}}</h1>
</div>
<hr class="separator">
<div class="container-fluid">
  <div class="row event-details-container">
    <div class="col-lg-7">
      <div class="event-info">
        {{ event.event_info | safe }} 
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <h2 class="circuit-name">{{ event.circuit_name }}</h2>
        <img class="circuit-image" src="{{ event.race.event_circuit.url }}" alt="{{ event.circuit_name }}">
        <div class="row">
          <div class="col-md-6">
            <div class="stat-container">
              <h6 class="stat-heading">Circuit Length</h6>
              <p class="stat">{{ event.circuit_length }}<span class="small">km</span></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="stat-container">
              <h6 class="stat-heading">Grand Prix Laps</h6>
              <p class="stat">{{ event.number_of_laps }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="stat-container">
              <h6 class="stat-heading">Grand Prix Distance</h6>
              <p class="stat">{{ race_distance }}<span class="small">km</span></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="stat-container">
              <h6 class="stat-heading">Lap Record</h6>
              <p class="stat">{{ event.lap_record }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div> 
</div>
{% endblock content %}