{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-lg-5 events-container">
      <h1 class="text-center mt-1 fs-3">Upcoming, and recent races</h1>
      <div class="row row-cols-2 g-4">
        <!-- Closest upcoming event card -->
        <div class="col">
          <a class="event-link" href="{% url 'event_details' upcoming_event.id %}">
            <div class="card upcoming hvr-grow">
              <div class="event-card-header d-flex">
                <div class="date-container col-8">
                  <h2 class="calendar-card-heading">
                    {{ upcoming_event.start_date | date:"d" }}-{{ upcoming_event.end_date | date:"d"}}</h2>
                  <h2 class="calendar-card-heading">
                    <!-- Check if the dates of the event share the same month to avoid repeating the month -->
                    {% if upcoming_event.start_date|date:"M" == upcoming_event.end_date|date:"M" %}
                    {{ upcoming_event.start_date | date:"M" }}
                    {% else %}
                    {{ upcoming_event.start_date | date:"M" }}-{{ upcoming_event.end_date | date:"M" }}
                    {% endif %}
                  </h2>
                </div>
                <div class="col-4 flag-container">
                  <img class="m-auto country-flag"
                    src="https://res.cloudinary.com/djmipr2p0/image/upload/{{ upcoming_event.location|slugify }}.svg"
                    alt="{{ upcoming_event.location }} flag">
                </div>
              </div>
              <hr class="card-line">
              <div class="event-card-body">
                <h3 class="fw-bold event-location">{{ upcoming_event.location }}</h3>
                <img class="event-image" src="{% if 'placeholder' in upcoming_event.event_circuit.url %}
                  https://res.cloudinary.com/djmipr2p0/image/upload/v1716558951/checkered-flags.svg
                  {% else %}{{ upcoming_event.event_circuit.url }}{% endif %}" alt="Event image">
              </div>
            </div>
          </a>
        </div>
        <!-- Previous 3 events cards -->
        {% for event in previous_events %}
        <div class="col opacity-50">
          <a class="event-link" href="{% url 'event_details' event.id %}">
            <div class="card hvr-grow">
              <div class="event-card-header d-flex">
                <div class="date-container col-8">
                  <h2 class="calendar-card-heading">{{ event.start_date | date:"d" }}-{{ event.end_date | date:"d"}}
                  </h2>
                  <h2 class="calendar-card-heading">
                    <!-- Check if the dates of the event share the same month to avoid repeating the month -->
                    {% if event.start_date|date:"M" == event.end_date|date:"M" %}
                    {{ event.start_date | date:"M" }}
                    {% else %}
                    {{ event.start_date | date:"M" }}-{{ event.end_date | date:"M" }}
                    {% endif %}
                  </h2>
                </div>
                <div class="col-4 flag-container">
                  <img class="m-auto country-flag"
                    src="https://res.cloudinary.com/djmipr2p0/image/upload/{{ event.location|slugify }}.svg"
                    alt="{{ event.location }} flag">
                </div>
              </div>
              <hr class="card-line">
              <div class="event-card-body">
                <h3 class="fw-bold event-location">{{ event.location }}</h3>
                <img class="event-image"
                  src="https://res.cloudinary.com/djmipr2p0/image/upload/v1716558951/checkered-flags.svg"
                  alt="Checkered flags">
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-5 col-lg-7">
      <!-- Live chat -->
      <fieldset class="live-chat-container mt-4 mt-md-1">
        <legend><h2 class="chat-heading">Chat live with other users</h2></legend>
        <div class="live-messages-container">
          <div class="messages" id="id-chat-item-container">
            <div id="chat-anchor"></div>
          </div>
        </div>
        <div class="chat-input-container">
          {% if user.is_authenticated %}
          <input type="text" class="message-input" id="id_message_send_input" placeholder="Send a message">
          <button type="submit" class="send-message" id="id_message_send_button" title="Send message"><i
              class="fa-regular fa-paper-plane"></i></button>
          {% else %}
          <p>Please <a class="text-decoration-none" href="{% url 'account_login' %}">log in</a>
            if you would like send a message!
          </p>
          {% endif %}
        </div>
      </fieldset>
    </div>
  </div>
</div>

<script>
  let username = "{{user.username}}"
</script>

<script src="{% static 'js/live_chat.js' %}"></script>
{% endblock content %}